openai
flask
flask-socketio
flask-cors
psutil
pyttsx3
SpeechRecognition
pyaudio
selenium
webdriver-manager
pyautogui
pygetwindow
pycaw
screen-brightness-control
python-dotenv
comtypes
face_recognition
opencv-python
numpy
